.row
  .col-md-6
    =form_for @task, html: { class: "cli-walid_form" } do |f|
      -if @task.errors.any?
        #error_explanation
          %h4
            ="#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
          -@task.errors.full_messages.each do |msg|
            .alert.alert-danger=msg

      .form-group
        =f.label :title
        =f.text_field :title, class: "form-control cli-walid_subject"
      .form-group
        =f.label :description
        =f.text_area :description, class: "form-control", rows: 6
      .form-group
        =f.label :priority
        =f.number_field :priority, class: "form-control cli-walid_subject"
      .form-group
        =f.label :due_date
        =f.text_field :due_date, class: "form-control due_date datepicker", value: "#{@task.due_date ? @task.due_date.strftime("%d-%m-%Y") : Time.now.strftime("%d-%m-%Y")}"
      .form-group
        =f.hidden_field :user_id
      .actions
        =f.submit 'Save', class: "btn btn-success cli-walid_submit"
        =render "tasks/shared/links"

:javascript
  $(document).ready(function(){
    $('.datepicker').datepicker({
      dateFormat: "dd-mm-yy",
      minDate: new Date(),
    });
  });