%h2.page-heading Log in
.row
  .col-md-6
    =form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        =f.label :email
        =f.email_field :email, autofocus: true, class: "form-control"
      .form-group
        =f.label :password
        =f.password_field :password, autocomplete: "off", class: "form-control"
      - if devise_mapping.rememberable?
        .checkbox.task-checkbox
          =f.check_box :remember_me
          =f.label :remember_me
      .actions
        =f.submit "Log in", class: "btn btn-success"
    =render "devise/shared/links"